{
  "singleQuote": true,
  "singleAttributePerLine": false,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "printWidth": 2000
}
