* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Orbitron';
  font-weight: 500;
  font-size: 1rem;
  background: none;
  padding: 0;
}

window#waybar {
  background: none;
  opacity: 0.85;
}

tooltip {
  background-color: #0e0e17;
  border: 1px solid #fb932e;
}

tooltip label {
  color: #fb932e;
}

#clock,
#custom-lyrics,
#tray,
#cpu,
#memory,
#battery,
#network,
#battery,
#custom-cava,
#temperature {
  padding: 6px 12px;
}

#workspaces button {
  background-color: #0e0e17;
  border: 1px solid #ff3845;
  padding: 0 12px;
  margin-right: 6px;
  color: #ff3845;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  color: #fb932e;
}

#workspaces > .active {
  background-color: #ff3845;
  border-color: #ff0077;
}
#workspaces button.active * {
  color: #0e0e17;
}

#workspaces > .special {
  background-color: #2570d4;
  border-color: #2570d4;
}
#workspaces button.special * {
  color: #0e0e17;
}

#workspaces > .urgent {
  background-color: #ff0077;
  border-color: #ff0077;
}
#workspaces button.urgent * {
  color: #0e0e17;
}

#clock {
  background-color: #0e0e17;
  border: 1px solid #ff3845;
  color: #ff3845;
  margin-left: 6px;
}

#tray {
  background-color: #0e0e17;
  border: 1px solid #ff3845;
}

#cpu,
#memory,
#network,
#battery,
#custom-cava,
#temperature {
  background-color: #0e0e17;
  border: 1px solid #ff3845;
  margin-left: 6px;
  color: #ff3845;
}

#battery.charging {
  border: 1px solid #2570d4;
  color: #2570d4;
}

#battery.warning {
  border: 1px solid #fb932e;
  color: #fb932e;
}

#battery.critical,
#cpu.critical,
#memory.critical {
  background-color: #ff0077;
  border: 1px solid #ff0077;
  color: #0e0e17;
}

#custom-lyrics {
  margin-left: 6px;
  color: #ff3845;
}

#custom-lyrics:hover {
  color: #fb932e;
}

#custom-lyrics.no-song,
#custom-lyrics.no-lyrics {
  background-color: #0e0e17;
  border: 1px solid #ff0077;
  color: #ff0077;
}

#custom-lyrics.has-song {
  background-color: #0e0e17;
  border: 1px solid #ff3845;
}

#custom-lyrics .next-line {
  color: #ffacac;
  font-style: italic;
}

#custom-cava {
  letter-spacing: 10px;
}
