*,
*::placeholder {
  font-family: 'Orbitron';
  box-sizing: border-box !important;
  border-radius: 0 !important;
  color: #ff3845 !important;
  border-color: #ff3845 !important;
  outline-color: #ff3845 !important;
  background-color: #0e0e17 !important;
  box-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
}

a,
button {
  padding: 2px;
}

i {
  --wave-color-solid-contrast-fill: #ff3845 !important;
}

*:hover {
  box-shadow: none !important;
  color: #fb932e !important;
  border-color: #fb932e !important;
  outline-color: #fb932e !important;
  background-image: inherit !important;
  background-color: #0e0e17 !important;
}

[data-test='sidebar'] {
  border-right: 1px solid #ff3845;
}

[data-test='explicit-badge'] {
  margin-right: 3px;
  margin-left: 3px;
}
[data-test='explicit-badge'] {
  position: relative;
  box-sizing: border-box;
}
[data-test='explicit-badge']::before {
  content: 'E';
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 16px;
  height: 16px;

  background: #0e0e17;
  outline: 1px solid #ff3845;
  color: #ff3845;
  border-radius: 0;
  font-size: 10px;
  font-weight: 600;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder,
::-ms-input-placeholder,
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffacac;
  opacity: 1;
}

#nowPlaying {
  background-image: none;
  background: var(--wave-color-solid-base-fill) !important;
}

._progressBarWrapper_f1fad6d {
  color: #ff3845 !important;
  background-color: #ffacac !important;
}

.enable-scrollbar-styles ::-webkit-scrollbar-thumb {
  background: #ff3845;
  outline: 1px solid #0e0e17;
  border-radius: 0px;
}

.enable-scrollbar-styles ::-webkit-scrollbar-corner,
.enable-scrollbar-styles ::-webkit-scrollbar-track {
  background: #0e0e17;
}

#footerPlayer {
  border-top: 1px solid #ff3845;
}

img {
  border: 1px solid #ff3845 !important;
}
