:root {
  --text-color: #d6eecf;
  --text-color: #aee29e;

  --primary-color: #33ff00;
  --primary-color-rgb: rgb(51 255 0);
  --primary-color-inactive: #bbffac;
  --secondary-color: #66ff66;

  --accent-color: #ffb000;

  --red: #ff2e6e;
  --blue: #00e1ff;
  --cyan: #00fff7;
  --cyan-hover: #8ffffb;
  --magenta: #ff00ff;
  --purple: #6200ff;
  --green: #88ff00;
  --teal: #00ffa6;
  --pink: #ff00aa;
  --lime: #ccff00;
  --yellow: #eeff00;

  --selection-background: #0f630cd6;
  --selection-background-inactive: #0f630c9f;
  --selection-active-background: #ffb00034;
  --selection-active-background-inactive: #ffae0023;
  --selection-background: #0a7470d6;
  --selection-background-inactive: #0a74708e;

  --red-selection-background: #ff000034;

  --primary-background: #0a0e0a;
  --primary-background-rgb: rgb(10 14 10);
  --primary-hover-background: #111611;

  --secondary-background: #121a12;
  --secondary-hover-background: #1a241a;

  /* For some TUI apps that does not support hex with alpha */
  --green-background: #0f630c;
  --orange-background: #49360b;
  --red-background: #490b0b;
  --magenta-background: #490b49;
  --blue-background: #0b2849;
  --cyan-background: #0b4949;
}
